<?xml version="1.0" encoding="utf-8"?>
<manifest package="symph.teampuraprototype"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS"/> -->
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ContentActivity"
            android:label="@string/title_activity_channel">
        </activity>
        <activity
            android:name=".activities.DirectMessagesActivity"
            android:label="@string/title_activity_direct_messages">
        </activity>
        <activity
            android:name=".activities.ChannelActivity"
            android:label="@string/title_activity_channel"
            android:parentActivityName=".activities.ContentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ContentActivity"/>
        </activity>
        <activity
            android:name=".activities.CreateChannelActivity"
            android:label="@string/title_activity_create_channel"
            android:parentActivityName=".activities.ContentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ContentActivity"/>
        </activity>
        <activity
            android:name=".activities.JoinChannelActivity"
            android:label="@string/title_activity_join_channel"
            android:parentActivityName=".activities.ContentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ContentActivity"/>
        </activity>
        <!--<activity-->
            <!--android:name=".activities.LoginActivity"-->
            <!--android:label="@string/title_activity_login">-->
        <!--</activity>-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>
